# Node.js dependencies
/node_modules

# Environment variables
.env

# Configuration files with secrets
/config/default.json

# User uploaded files
/uploads

# Log files
*.log
npm-debug.log*

# IDE-specific files
.idea/
.vscode/

# Build artifacts
/dist
/build